.page-main {
    &_title {
        margin-top: 100px;
    }
    &_title,
    &_subtitle {
        font-family: @font2;
        font-size: 40px;
        color: @black;
        text-shadow:
            0 0 16px,
            0 0 7px currentColor;
        text-align: center;
        padding: 60px 0;
    }
    &_lenni {
        width: 100%;
    }

    &_choice {
        text-align: center;
    }
}
