.main {
    flex: 1 0 auto;
    background-color: rgba(240, 240, 240, 0.98);
}
.page-main {
    padding: 69px 0;
    &_title,
    &_subtitle {
        font-size: 40px;
        color: @black;
        text-shadow:
            0 0 16px,
            0 0 7px currentColor;
        text-align: center;
        margin: 0;
    }
    &_lenni {
        margin-top: 40px;
        background-color: @black;
        text-align: center;
    }
    &_lenni span {
        color: @black;
        display: inline-block;
        font-size: 250px;
        background-color: white;
        z-index: 1;
    }
    &_subtitle {
        margin-top: 40px;
    }
}
